.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  /* Automatically hides it, but sets initial styles */
  .tooltip .tooltiptrue {
    visibility: hidden;
    font-size: 15px;
    width: 500px;
    background-color:rgb(60, 183, 30);
    color: #000000;
    text-align: center;
    border-radius: 36px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /*left: 50%;*/
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .tooltip .tooltipmostlytrue {
    visibility: hidden;
    font-size: 15px;
    width: 500px;
    background-color:rgb(51, 255, 0);
    color: #000000;
    text-align: center;
    border-radius: 36px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /*left: 50%;*/
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .tooltip .tooltiphalftrue {
    visibility: hidden;
    font-size: 15px;
    width: 500px;
    background-color:rgb(200, 255, 0);
    color: #000000;
    text-align: center;
    border-radius: 36px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /*left: 50%;*/
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .tooltip .tooltipmostlyfalse {
    visibility: hidden;
    font-size: 15px;
    width: 500px;
    background-color:rgb(255, 149, 0);
    color: #000000;
    text-align: center;
    border-radius: 36px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /*left: 50%;*/
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .tooltip .tooltipfalse {
    visibility: hidden;
    font-size: 15px;
    width: 500px;
    background-color:#ff0000a7;
    color: #000000;
    text-align: center;
    border-radius: 36px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    /*left: 50%;*/
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Code showing the tooltip when you hover your mouse over it*/
  .tooltip:hover .tooltiptrue {
    visibility: visible;
    opacity: 1;
  }
  .tooltip:hover .tooltipmostlytrue {
    visibility: visible;
    opacity: 1;
  }
  .tooltip:hover .tooltiphalftrue {
    visibility: visible;
    opacity: 1;
  }
  .tooltip:hover .tooltipmostlyfalse {
    visibility: visible;
    opacity: 1;
  }
  .tooltip:hover .tooltipfalse {
    visibility: visible;
    opacity: 1;
  }